baseURL = "https://osman-hadi.org"

theme = "LoveIt"
themesDir = "./themes"

title = "Sharif Osman Hadi (1993 - ∞)"

defaultContentLanguage = "en"
languageCode = "en"
languageName = "English"
hasCJKLanguage = false

copyright = ""

enableRobotsTXT = true
enableGitInfo = true
enableEmoji = true

ignoreErrors = ["error-remote-getjson", "error-missing-instagram-accesstoken"]

[pagination]
  disableAliases = false
  pagerSize = 10
  path = "page"

[menu]
  [[menu.main]]
    weight = 1
    identifier = "posts"


    pre = ""


    post = ""
    name = "Posts"
    url = "/posts/"


    title = ""
  [[menu.main]]
    weight = 2
    identifier = "tags"
    pre = ""
    post = ""
    name = "Tags"
    url = "/tags/"
    title = ""
  [[menu.main]]
    weight = 3
    identifier = "categories"
    pre = ""
    post = ""
    name = "Categories"
    url = "/categories/"
    title = ""

[params]


  defaultTheme = "auto"


  gitRepo = "https://github.com/dillonzq/LoveIt"




  fingerprint = ""


  dateFormat = "2006-01-02"


  title = "Sharif Osman Hadi"


  description = "Remembering Martyre Sharif Osman Hadi"


  images = ["/images/logo.png"]



  [params.author]
    name = "xxxx"
    email = ""
    link = ""



  [params.header]


    desktopMode = "fixed"


    mobileMode = "auto"


    [params.header.title]
    
    
      logo = ""
    
    
      name = "Sharif Osman Hadi"
    
    
      pre = "<img src='/favicon.ico'>"
    
    
      post = ""
    
    
      typeit = false



  [params.footer]
    enable = true


    custom = ""


    hugo = false


    copyright = true


    author = true


    since = 2019


    icp = ""


    license= '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'



  [params.section]


    paginate = 20


    dateFormat = "01-02"


    rss = 10



  [params.list]


    paginate = 20


    dateFormat = "01-02"


    rss = 10



  [params.app]


    title = "LoveIt"


    noFavicon = false


    svgFavicon = ""


    themeColor = "#ffffff"


    iconColor = "#5bbad5"


    tileColor = "#da532c"



  [params.search]
    enable = true


    type = "algolia"


    contentLength = 4000


    placeholder = ""


    maxResultLength = 10


    snippetLength = 30


    highlightTag = "em"


    absoluteURL = false
    [params.search.algolia]
      index = ""
      appID = ""
      searchKey = ""



  [params.home]


    rss = 10


    [params.home.profile]
      enable = true
    
    
      gravatarEmail = ""
    
    
      avatarURL = "/images/avatar.png"
    
    
      title = ""
    
    
      subtitle = "A Clean, Elegant but Advanced Hugo Theme"
    
    
      typeit = true
    
    
      social = true
    
    
      disclaimer = ""


    [params.home.posts]
      enable = true
    
    
      paginate = 6


  [params.social]
    GitHub = ""
    Linkedin = ""
    X = ""
    Instagram = ""
    Facebook = ""
    Telegram = ""
    Medium = ""
    Gitlab = ""
    Youtubelegacy = ""
    Youtubecustom = ""
    Youtubechannel = ""
    Tumblr = ""
    Quora = ""
    Keybase = ""
    Pinterest = ""
    Reddit = ""
    Codepen = ""
    FreeCodeCamp = ""
    Bitbucket = ""
    Stackoverflow = ""
    Weibo = ""
    Odnoklassniki = ""
    VK = ""
    Flickr = ""
    Xing = ""
    Snapchat = ""
    Soundcloud = ""
    Spotify = ""
    Bandcamp = ""
    Paypal = ""
    Fivehundredpx = ""
    Mix = ""
    Goodreads = ""
    Lastfm = ""
    Foursquare = ""
    Hackernews = ""
    Kickstarter = ""
    Patreon = ""
    Steam = ""
    Twitch = ""
    Strava = ""
    Skype = ""
    Whatsapp = ""
    Zhihu = ""
    Douban = ""
    Angellist = ""
    Slidershare = ""
    Jsfiddle = ""
    Deviantart = ""
    Behance = ""
    Dribbble = ""
    Wordpress = ""
    Vine = ""
    Googlescholar = ""
    Researchgate = ""
    Mastodon = ""
    Thingiverse = ""
    Devto = ""
    Gitea = ""
    XMPP = ""
    Matrix = ""
    Bilibili = ""
    Discord = ""
    DiscordInvite = ""
    Lichess = ""
    ORCID = ""
    Pleroma = ""
    Kaggle = ""
    MediaWiki = ""
    Plume = ""
    HackTheBox = ""
    RootMe= ""
    Malt = ""
    TikTok = ""
    TryHackMe = ""
    Codeberg = ""
    HuggingFace = ""
    Threads = ""
    Bluesky = ""
    Email = ""
    RSS = ""



  [params.page]


    hiddenFromHomePage = false


    hiddenFromSearch = false


    twemoji = false


    lightgallery = false


    ruby = true


    fraction = true


    fontawesome = true


    linkToMarkdown = true


    rssFullText = false


    [params.page.toc]
    
    
      enable = true
    
    
      keepStatic = false
    
    
      auto = true


    [params.page.code]
    
    
      copy = true
    
    
      maxShownLines = 50
      [params.page.code.render]
        goat = true
        mermaid = true


    [params.page.math]
      enable = false
    
    
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""
    
    
      blockLeftDelimiter = ""
      blockRightDelimiter = ""
    
    
      copyTex = true
    
    
      mhchem = true


    [params.page.mapbox]
    
    
      accessToken = "pk.eyJ1IjoiZGlsbG9uenEiLCJhIjoiY2s2czd2M2x3MDA0NjNmcGxmcjVrZmc2cyJ9.aSjv2BNuZUfARvxRYjSVZQ"
    
    
      lightStyle = "mapbox://styles/mapbox/light-v10?optimize=true"
    
    
      darkStyle = "mapbox://styles/mapbox/dark-v10?optimize=true"
    
    
      navigation = true
    
    
      geolocate = true
    
    
      scale = true
    
    
      fullscreen = true


    [params.page.share]
      enable = true
      X = true
      Threads = true
      Facebook = true
      Linkedin = false
      Whatsapp = false
      Pinterest = false
      Tumblr = false
      HackerNews = true
      Reddit = false
      VK = false
      Buffer = false
      Xing = false
      Line = true
      Instapaper = false
      Pocket = false
      Flipboard = false
      Weibo = true
      Blogger = false
      Baidu = false
      Odnoklassniki = false
      Evernote = false
      Skype = false
      Trello = false
      Diaspora = true
      Mix = false
      Telegram = true


    [params.page.comment]
      enable = true
    
    
      [params.page.comment.disqus]
        enable = false
    
    
        shortname = ""
    
    
      [params.page.comment.gitalk]
        enable = false
        owner = ""
        repo = ""
        clientId = ""
        clientSecret = ""
    
    
      [params.page.comment.valine]
        enable = true
        appId = "QGzwQXOqs5JOhN4RGPOkR2mR-MdYXbMMI"
        appKey = "WBmoGyJtbqUswvfLh6L8iEBr"
        placeholder = ""
        avatar = "mp"
        meta= ""
        pageSize = 10
    
    
        lang = ""
        visitor = true
        recordIP = true
        highlight = true
        enableQQ = false
        serverURLs = "https://valine.hugoloveit.com"
    
    
    
    
    
    
    
    
    
    
        emoji = ""
    
    
      [params.page.comment.facebook]
        enable = false
        width = "100%"
        numPosts = 10
        appId = ""
    
    
        languageCode = ""
    
    
      [params.page.comment.telegram]
        enable = false
        siteID = ""
        limit = 5
        height = ""
        color = ""
        colorful = true
        dislikes = false
        outlined = false
    
    
      [params.page.comment.commento]
        enable = false
    
    
      [params.page.comment.utterances]
        enable = false
    
        repo = ""
        issueTerm = "pathname"
        label = ""
        lightTheme = "github-light"
        darkTheme = "github-dark"
    
    
      [params.page.comment.giscus]
    
    
        enable = false
        repo = ""
        repoId = ""
        category = "Announcements"
        categoryId = ""
    
    
        lang = ""
        mapping = "pathname"
        reactionsEnabled = "1"
        emitMetadata = "0"
        inputPosition = "bottom"
        lazyLoading = false
        lightTheme = "light"
        darkTheme = "dark"
    
    
      [params.page.comment.waline]
        enable = false
        serverURL = "https://love-it-waline.vercel.app"
    
    
        lang = ""
        emoji = ["https://unpkg.com/@waline/emojis@1.0.1/tw-emoji"]


    [params.page.library]
      [params.page.library.css]
    
    
    
    
      [params.page.library.js]
    
    
    
    


    [params.page.seo]
    
    
      images = []
    
    
      [params.page.seo.publisher]
        name = "xxxx"
        logoUrl = "/images/avatar.png"



  [params.typeit]


    speed = 100


    cursorSpeed = 1000


    cursorChar = "|"


    duration = -1



  [params.verification]
    google = ""
    bing = ""
    yandex = ""
    pinterest = ""
    baidu = ""



  [params.seo]


    image = "/images/Apple-Devices-Preview.png"


    thumbnailUrl = "/images/screenshot.png"



  [params.analytics]

    [params.analytics.google]
      id = ""
    
    
      respectDoNotTrack = false

    [params.analytics.fathom]
      id = ""
    
    
      server = ""

    [params.analytics.plausible]
      dataDomain = ""

    [params.analytics.yandexMetrica]
      id = ""
    [params.analytics.goatCounter]
      code = ""




  [params.cookieconsent]
    enable = false


    [params.cookieconsent.content]
      message = ""
      dismiss = ""
      link = ""



  [params.cdn]










    data = "jsdelivr.yml"



  [params.compatibility]


    polyfill = false


    objectFit = false

[markup]


  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = false
    lineNos = false
    lineNumbersInTable = true
    noClasses = true


  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true
    [markup.goldmark.renderer]
    
    
      unsafe = true


  [markup.tableOfContents]
    startLevel = 2
    endLevel = 6

[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

[permalinks]

  posts = ":filename"

[privacy]


  [privacy.googleAnalytics]

  [privacy.twitter]

  [privacy.youtube]


[mediaTypes]
  [mediaTypes."text/plain"]
    suffixes = ["md"]

[outputFormats.MarkDown]
  mediaType = "text/plain"
  isPlainText = true
  isHTML = false

[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "MarkDown"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]

[languages]
  [languages.en]
    weight = 1
    languageCode = "en"
    languageName = "English"
    hasCJKLanguage = false
    copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License."
    [languages.en.menu]
      [[languages.en.menu.main]]
        weight = 1
        identifier = "posts"
        pre = ""
        post = ""
        name = "Posts"
        url = "/posts/"
        title = ""
      [[languages.en.menu.main]]
        weight = 2
        identifier = "tags"
        pre = ""
        post = ""
        name = "Tags"
        url = "/tags/"
        title = ""
      [[languages.en.menu.main]]
        weight = 3
        identifier = "categories"
        pre = ""
        post = ""
        name = "Categories"
        url = "/categories/"
        title = ""
      [[languages.en.menu.main]]
        weight = 4
        identifier = "documentation"
        pre = ""
        post = ""
        name = "Docs"
        url = "/categories/documentation/"
        title = ""
      [[languages.en.menu.main]]
        weight = 5
        identifier = "about"
        pre = ""
        post = ""
        name = "About"
        url = "/about/"
        title = ""
      [[languages.en.menu.main]]
        weight = 6
        identifier = "github"
        pre = "<i class='fab fa-github fa-fw' aria-hidden='true'></i>"
        post = ""
        name = ""
        url = "https://github.com/sharf-shawon/osman-hadi.org"
        title = "GitHub"
    [languages.en.params]
      [languages.en.params.search]
        enable = true
        type = "algolia"
        contentLength = 4000
        placeholder = ""
        maxResultLength = 10
        snippetLength = 30
        highlightTag = "em"
        absoluteURL = false
        [languages.en.params.search.algolia]
          index = "index"
          appID = "4D1IDY8JU6"
          searchKey = "05332ac5ed76655a511f0da583a9afac"
      [languages.en.params.home]
        rss = 10
        [languages.en.params.home.profile]
          enable = true
          gravatarEmail = ""
          avatarURL = "/images/avatar.png"
          title = ""
          subtitle = "A Clean, Elegant but Advanced Hugo Theme"
          typeit = true
          social = true
          disclaimer = ""
      [languages.en.params.social]
        GitHub = "xxxx"
        X = "xxxx"
        Instagram = "xxxx"
        Facebook = "xxxx"
        Telegram = "xxxx"
        Youtubelegacy = "xxxx"
        HuggingFace = "xxxx"
        Threads = "xxxx"
        Phone = "555-555-555"
        Email = "xxxx@xxxx.com"
        RSS = true
        [languages.en.params.social.Mastodon]
          id = "@xxxx"
          prefix = "https://mastodon.technology/"

  [languages.zh-cn]
    weight = 2
    languageCode = "zh-CN"
    languageName = "简体中文"
    hasCJKLanguage = true
    copyright = "This work is licensed under a Creative Commons Attribution-NonCommercial 4.0 International License."
    [languages.zh-cn.menu]
      [[languages.zh-cn.menu.main]]
        weight = 1
        identifier = "posts"
        pre = ""
        post = ""
        name = "所有文章"
        url = "/posts/"
        title = ""
      [[languages.zh-cn.menu.main]]
        weight = 2
        identifier = "tags"
        pre = ""
        post = ""
        name = "标签"
        url = "/tags/"
        title = ""
      [[languages.zh-cn.menu.main]]
        weight = 3
        identifier = "categories"
        pre = ""
        post = ""
        name = "分类"
        url = "/categories/"
        title = ""
      [[languages.zh-cn.menu.main]]
        weight = 4
        identifier = "documentation"
        pre = ""
        name = "文档"
        url = "/categories/documentation/"
        title = ""
      [[languages.zh-cn.menu.main]]
        weight = 5
        identifier = "about"
        pre = ""
        post = ""
        name = "关于"
        url = "/about/"
        title = ""
      [[languages.zh-cn.menu.main]]
        weight = 6
        identifier = "github"
        pre = "<i class='fab fa-github fa-fw' aria-hidden='true'></i>"
        post = ""
        name = ""
        url = "https://github.com/dillonzq/LoveIt"
        title = "GitHub"
    [languages.zh-cn.params]
      [languages.zh-cn.params.search]
        enable = true
        type = "algolia"
        contentLength = 4000
        placeholder = ""
        maxResultLength = 10
        snippetLength = 50
        highlightTag = "em"
        absoluteURL = false
        [languages.zh-cn.params.search.algolia]
          index = "index"
          appID = "GZT24PWKNT"
          searchKey = "634ab679e825b815de2663de38908f9d"
      [languages.zh-cn.params.home]
        rss = 10
        [languages.zh-cn.params.home.profile]
          enable = true
          gravatarEmail = ""
          avatarURL = "/images/avatar.png"
          title = ""
          subtitle = "一个简洁、优雅且高效的 Hugo 主题"
          typeit = true
          social = true
          disclaimer = ""
      [languages.zh-cn.params.social]
        GitHub = "xxxx"
        Weibo = "xxxx"
        Steam = "xxxx"
        Zhihu = "xxxx"
        Douban = "xxxx"
        Devto = "xxxx"
        Bilibili = "xxxx"
        Email = "xxxx@xxxx.com"
        Phone = "555-555-555"
        RSS = true
